.container {
  display: flex;
  flex-wrap: wrap;          /* allows wrapping to next line */
  justify-content: space-between;
  gap:20px;             /* space between divs */
}

.sqlcard {
  flex: 1 1 calc(25.33% - 10px); /* 3 per row */
  background-color: #f6fbfe;
  text-align: center;
  padding: 1px;
  border-radius: 8px;
  /* font-weight: bold; */
  font-size: 14px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  border-style: outset;
}

 .sqlcard:hover{
    background-color: white;
    box-shadow: 0px 5px 10px #222;  
    width:alc(26.33% - 10px);
    transition: all 400ms ease-in-out;
    
  }  

 